.header__wrapper{
    width: 100%;
    padding: 10px;
    background-color: mediumseagreen;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Courier New';
    font-size: 20px;
}

.header__link{
    text-decoration: none;
    color: white;
    margin:  0 15px;;
}

.header__link:hover{
    color: white;
}
