.header__wrapper{
    width: 100%;
    padding: 10px;
    background-color: mediumseagreen;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header__link{
    text-decoration: none;
    color: white;
    margin:  0 5px;;
}

.header__link:hover{
    color: white;
}
